@import "rsuite/dist/rsuite.css";

body {
  background-color: #f5f5f5 !important;
}
/* Put this in SpendOverview.css or a global stylesheet */
.leaflet-tooltip {
  z-index: 9999 !important;
  pointer-events: auto; /* optional, in case you need hover/click */
}

.App {
  text-align: center;
  box-sizing: content-box;
  display: flex;
  background-color: #f5f5f5 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* CUSTOM TOAST COLORS */
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: #22c48b;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #f97061;
}

/* SIDENAV */
.sidenav-icons {
  position: absolute !important;
  left: 20px !important;
  font-size: 19px !important;
}

.sidenav-sub-icons {
  position: absolute !important;
  left: 40px !important;
  font-size: 14px !important;
}

/*########################################################################
  BUTTON DESIGN- OPTIONS- RESET, EXPORT , SUBMIT, ADD, ETC.
########################################################################*/

/* Back Button CSS*/
.bck-btn-outline {
  color: var(--color-main) !important;
  border: 1px solid var(--color-main) !important;
  background-color: transparent;
  cursor: pointer;
}

.bck-btn-outline:hover {
  background-color: var(--color-main) !important;
  color: #fff !important;
}

/* OTHERS */
.option-bar {
  display: flex;
  text-align: left;
}

.option-btn {
  background-color: var(--color-btn) !important;
  border-color: var(--color-btn) !important;
}

.option-btn:hover {
  background-color: var(--color-btn-hov) !important;
}

/* FULLSCREEN BTN - FOR DASHBOARDS */
.full-scrn-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: var(--color-main); /* Button color */
  color: white; /* Icon color */
  border: none;
  width: 40px; /* Circle diameter */
  height: 40px; /* Circle diameter */
  border-radius: 50%; /* Ensures the button is circular */
  cursor: pointer;
  font-size: 22px;
  z-index: 1000;
  display: flex; /* Center the icon inside */
  justify-content: center;
  align-items: center;
}

/* CUSTOM BUTTON DESIGN*/
.btn-theme {
  background-color: var(--bg-btn) !important;
  border: none !important;
  color: var(--color-btn) !important;
}
.btn-theme:hover {
  background-color: var(--bg-btn-hover) !important;
}

.btn-theme-dark {
  background-color: var(--bg-btn-dark) !important;
  border: none !important;
  color: var(--color-btn-dark) !important;
}
.btn-theme-dark:hover {
  background-color: var(--bg-btn-dark-hover) !important;
}

.btn-green {
  background-color: #22c48b !important;
  color: white !important;
}
.btn-green:hover {
  background-color: #1ca072 !important;
}

.btn-red {
  background-color: #f97061 !important;
  color: white !important;
}

.btn-red:hover {
  background-color: #c95244 !important;
}
.btn-yellow {
  background-color: #ffc857 !important;
  color: white !important;
}
.btn-yellow:hover {
  background-color: #dbab48 !important;
}

/*########################################################################
  TABLE VIEW CSS
########################################################################*/
.defaultStyles {
  font-size: 12px;
  padding: 8px;
  text-align: start;
}

.defaultStyleHead {
  font-size: 12px !important;
  padding: 8px !important;
  text-align: center !important;
  background-color: rgba(4, 141, 156, 0.25) !important;
  color: var(--color-main) !important;
  border: 1px solid #ddd !important;
}

/*########################################################################
  FONTS AND ICONS
########################################################################*/
.global-font {
  font-size: 12px !important;
}
.global-font-sm {
  font-size: 10px !important;
}
.global-filter-input-date {
  min-width: 120px;
  max-width: 250px;
  font-size: 12px !important;
}
/*##################
 UPDATE AND VIEW BUTTON  - ACTIVITY WINDOW AND APPROVAL WINDOW 
 ################# */
.view-update-btn {
  border: 0.5px solid var(--bg-sidenav-active);
  color: var(--bg-sidenav-active);
  padding: 4px;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}
.view-update-btn:hover {
  background-color: var(--bg-btn-hover) !important;
  color: var(--color-btn);
}

/* AG GRID WATERMARK */
.ag-watermark.hide {
  animation: hideWatermark 0s linear forwards;
}

.ag-watermark {
  display: none;
  opacity: 0.1;
}

/* LAYOUT */

.left-main {
  padding: 5px;
  background-color: #f5f5f5;
  padding-right: 0px;
}

.right-main {
  padding: 5px;
  background-color: #f5f5f5;
  position: relative;
  width: 100%;
}

/* BROWSER SCROLL -  with scrollbar pseudo-elements support */
.scrollbar {
  scrollbar-width: thin; /* Reduce scrollbar width */
  scrollbar-color: #c0c0c0 #f0f0f0; /* Handle and track colors */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ag grid */
.ag-theme-alpine .ag-header {
  background-color: var(--bg-ag) !important;
  color: var(--color-ag) !important;
  height: 30 !important;
}
.ag-theme-alpine .ag-header .ag-icon {
  color: var(--color-ag) !important;
}
.ag-theme-alpine .ag-header .ag-icon:hover {
  color: var(--color-ag) !important;
}
.ag-theme-alpine .ag-header .ag-label {
  color: var(--color-ag) !important;
}

.ag-header-cell-label {
  color: var(--color-ag) !important;
  font-size: 10px !important;
}

.ag-header-cell-resize::after {
  background-color: var(--color-ag) !important;
}

/* SCROLL */
/* Universal scrollbar styling */
::-webkit-scrollbar {
  width: 7px; /* Set scrollbar width */
  height: 7px; /* Set scrollbar height for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the scrollbar track */
  border-radius: 5px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: var(--bg-scroll); /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners for the handle */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-scroll-hover); /* Darker color on hover */
}

/* FORM SELECT INPUT */

select > option:hover {
  background-color: #bfa35b !important;
  color: rgb(198, 106, 106) !important;
}

/* TABS */
.nav-tabs .nav-link {
  color: var(--color-main); /* Change this to your desired color */
}

.nav-tabs .nav-link.active {
  background-color: var(
    --color-main
  ) !important; /* Background color for the active tab */
  color: white !important; /* Optional: Change the text color as well */
}

/* CSS FOR DD BUTTON */
/* Override default Bootstrap DropdownButton font size */
.btn.dropdown-toggle {
  font-size: 11px !important;
  border-color: var(--color-main);
  color: var(--color-main);
}

.btn.dropdown-toggle:hover {
  background-color: var(--color-main);
  color: white;
}

/* Adjust the font size for Dropdown items globally */
.dropdown-item {
  font-size: 11px !important;
}

/* overall css */

.icon-style {
  color: var(--color-icon) !important;
  font-size: 25px;
}

.heading-style {
  margin: 0px;
  font-weight: 550;
  font-size: 13px;
  color: var(--color-head);
}

.number-style {
  color: var(--color-num) !important;
  font-weight: 550 !important;
  font-size: 18px;
  padding: 5px;
}

/* CUSTOM CSS */
/* ############# GLOBAL CSS ############ */
.head-theme {
  font-weight: 550;
  font-size: 14px;
  color: var(--color-main);
  margin: 0px;
}

.global-kpi-container {
  display: flex;
  gap: 5px !important;
  padding: 5px !important;
}

.global-kpi-com {
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #d5dde5;
  padding: 5px 10px;
  text-align: left;
  flex: 1;
}

.global-kpi-box {
  overflow: hidden;
  flex: 1; /* Make each box take equal width */
  background-color: white;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #d5dde5;
  padding: 5px 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.global-kpi-name {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  color: grey;
  font-weight: 550;
  padding-left: 10px !important;
}

.global-kpi-num {
  margin: 0px;
  font-size: 18px;
  color: var(--color-main-light);
  font-weight: 550;
  padding: 0px;
}

.global-filters {
  display: flex !important;
  justify-content: space-between !important;
  gap: 5px !important;
  padding: 0px 5px !important;
  padding-bottom: 8px !important;
}

.global-filter-input {
  min-width: 100px !important;
  max-width: 150px !important;
}
.global-filter-input-date {
  min-width: 120px;
  max-width: 250px;
  font-size: 12px !important;
}

.global-filter-label {
  width: 100% !important;
  font-size: 10px !important;
  text-align: left !important;
  padding: 0px 5px !important;
  margin: 0px !important;
  margin-bottom: 4px !important;
}

.global-ag-table {
  width: 100%;
  height: 70vh !important;
  margin-top: 5px;
}

.global-tabs {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.global-dashed-card {
  border: 1px dashed #38858e;
  background-color: #d8eceeaf;
  font-size: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.089);
}

.global-custom-card {
  border: 1px solid #76d6e1;
  background-color: white;
  font-size: 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.089);
}

/* CARDS */
.global-cards {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.global-cards2 {
  overflow: hidden;
  flex: 1; /* Make each box take equal width */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #d5dde5;
}

/* CATEGORY AND ACTION TREE FORM CSS */

.form-header {
  padding: 5px 10px !important;
}

.form-head {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.canvasjs-chart-credit {
  display: none !important;
}

/* //custon range */
.custom-range {
  width: 100%;
  appearance: none;
  height: 6px;
  border-radius: 5px;
  outline: none;
  transition: background 0.2s ease-in-out;
}

/* Track Styling */
.custom-range::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 5px;
}

/* Thumb Styling */
.custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--color-main);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-main);
  border-radius: 50%;
  cursor: pointer;
}
